/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* For most browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Add your custom styles here */
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	color: #333;
}

h1 {
	margin: 20px;
	text-align: center;
}

#main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
}

#peg-number {
		padding: 1rem;
		width: 60%;
		border: 1px solid #ccc;
		border-radius: 5px;
		text-align: center;
}

#answers {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 60%;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 60%;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form label {
	/* margin: 1rem; */
	font-size: large;
}

#form input {
		margin: 1rem;
		padding: 1rem;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 5px;
		text-align: center;
}

#form button {
		/* margin: 1rem; */
		padding: 1rem;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #007bff;
		color: #fff;
		cursor: pointer;
}

#select-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 60%;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#select-container label {
		margin-top: 1rem;
}

#select-container input {
		padding: 1rem;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 5px;
		text-align: center;
}

@media (max-width: 768px) {

	#peg-number,
	#answers,
	#form,
	#select-container {
			width: 90%;
	}
}